@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: top;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1351px;
  width: 82%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  padding: 8px 0 ;
  position: absolute;
  background-color: rgba(0,0,0,.5);
}

header .wrapper { width: 79.7%; }

.hambur {
  display: none;
  cursor: pointer;
}

.hambur span {
  width: 25px;
  height: 3px;
  display: block;
  position: absolute;
  z-index: 5;
  background-color: #fff;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  text-indent: -9999px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hambur span:nth-child(1) { top: 0; }
.hambur span:nth-child(2) { top: 8px; }
.hambur span:nth-child(3) { top: 16px; }
h1,
nav{ display: inline-block; }
h1 { width: calc(22% - 4px); }
nav { width: calc(78% - 4px); }
.menu li { padding-right: 34px; }

.dropin .dropdown {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.drop {
  position: relative;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: transform .5s ease;
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  -o-transition: transform .5s ease;
}

.drop li {
  display: block;
  position: absolute;
}

.drop li:nth-child(1) { 
  top: 10px;
  border: 1px solid transparent;
}

.drop li:nth-child(2) { top: 40px; }
.drop li:nth-child(3) { top: 70px; }

.menu {
  padding-top: 55px; 
  float: right;
}

.menu a {
  border-bottom: 1px solid transparent;
  color: #fdfdfd;
  font-size: 18px;
  letter-spacing: 1px;
  -webkit-transition: border-bottom .5s ease;
  -moz-transition: border-bottom .5s ease;
  -ms-transition: border-bottom .5s ease;
  -o-transition: border-bottom .5s ease;
  transition: border-bottom .5s ease;
  text-transform: capitalize;
}

.menu a:hover { border-bottom: 1px solid #fdfdfd; }

.menu li:nth-child(4)>a::after {
  content:"\f0d7";
  padding-left: 15px;
  color: #fdfdfd;
  font: 900 17px "Font Awesome 5 Free";
}

.underline a { border-bottom: 1px solid #fdfdfd; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styling starts here */
.banner {
  padding: 103px 0;
  background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url(../img/1.jpg) center/cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.1)), to(rgba(0,0,0,.1))), url(../img/1.jpg) center/cover no-repeat;
  background: -o-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url(../img/1.jpg) center/cover no-repeat;
  text-align: center;
}

h2 {
  padding: 90px 0 37px;
  margin-top: 100px;
  color: #fff;
  font-size: 64px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.banner a {
  padding: 16px 28px;
  border: 2px solid #fff;
  margin-bottom: 139px;
  color: #fff;
  letter-spacing: 2px;
  -webkit-transition: color .5s ease , background-color .5s ease;
  -moz-transition: color .5s ease , background-color .5s ease;
  -ms-transition: color .5s ease , background-color .5s ease;
  -o-transition: color .5s ease , background-color .5s ease;
  transition: color .5s ease , background-color .5s ease;
  text-transform: capitalize;
}

.banner a::after {
  content:"\f0da";
  padding-left: 15px;
  color: #fdfdfd;
  font: 900 17px "Font Awesome 5 Free";
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.banner a:hover {
  background-color: #fff;
  color: #000;
}

.banner a:hover::after { color: #000; }

/* banner styling ends here */
/* about section styling starts here */
.about { padding: 99px 0 70px; }

h3 {
  padding-bottom: 43px;
  color: #333333;
  font-size: 55px;
  text-transform: capitalize;
}
.about li {
  width: calc(23.3% - 4px);
  margin-right: 2.3%;
}

.about li:last-child { margin: 0;}

.about h4 {
  color: #ec4134;
  font-size: 24px;
  text-transform: uppercase;
}

.about h4::after {
  content: "";
  width: 53px;
  height: 2px;
  margin: 4px 0 10px;
  display: block;
  background-color: #ec4134;
}

.about p {
  color: #8f83a0;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 28px;
  word-spacing: 2px;
}

.about figure {
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 -ms-border-radius: 3px;
 -o-border-radius: 3px;
 border-radius: 3px;
 overflow: hidden;
}

.about li:nth-child(2),
.about li:nth-child(3) { text-align: center; }
.about li:nth-child(4) { text-align: end; }
.about li:nth-child(2) h4::after,
.about li:nth-child(3) h4::after { margin: 4px auto 10px; }
.about li:nth-child(2) h4,
.about li:nth-child(3) h4 { padding-top: 25px; }
.about li:nth-child(4) h4::after{ margin: 4px 0 10px auto; }  

.about a { 
  padding: 12px 25px;
  border: 1px solid #333333;
  margin: 14px 0 40px;
  color: #333333;
  letter-spacing: 1px;
  -webkit-transition: color .5s ease , background-color .5s ease;
  -moz-transition: color .5s ease , background-color .5s ease;
  -ms-transition: color .5s ease , background-color .5s ease;
  -o-transition: color .5s ease , background-color .5s ease;
  transition: color .5s ease , background-color .5s ease;
  text-transform: capitalize;
}

.about a:hover {
  background-color: #333333;
  color: #fff;
}
/* about section styling ends here */
/* people-say styling starts here  */
.people-say {
  padding: 63px 0 63px;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/1.jpg) center/cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.5)), to(rgba(0,0,0,.5))), url(../img/1.jpg) center/cover no-repeat;
  background: -o-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/1.jpg) center/cover no-repeat;
}

.people-say h3 { color: #fff; }

.sliders {
  width: 60%;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.sliders figure {
  width: 113px;
  border: 4px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.sliders span {
  padding: 10px 0 15px;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
}

.sliders h5 {
  padding-bottom: 13px;
  font-size: 31px;
  text-transform: capitalize;
}

.sliders P {
  padding-bottom: 42px;
  color: #919293;
  font-size: 15px;
  line-height: 30px;

}

.sliders p::before {
  content:"\f10d";
  padding-right: 18px;
  color: #eee;
  font: 900 25px "Font Awesome 5 Free";
  word-spacing: 2px;
}
/* people-say styling ends here  */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  border: 1px solid transparent;
  position: relative;
  background-color: #111;
  text-align: center;
}

.top {
  width: 26px;
  position: absolute;
  right: 30px;
  bottom: 0;
}

footer .wrapper {
  width: 95.5%;
  border: 1px solid #444;
  margin: 31px auto;
}

.social { padding-bottom: 28px; }
h6 { padding: 65px 0 47px; }
.social a { text-indent: -9999px; }
.social li { padding-right: 13px; }

.social a::before {
  padding: 11px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: right;
  background-color: #242424;
  color: #888;
  font: 100 14px "Font Awesome 5 Brands";
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  text-indent: 0;
}

.social a:hover::before {
  background-color: #888;
  color: #242424;
}

.social li:nth-child(1) a::before { 
  content: "\f39e"; 
  padding: 11px 14px;
}

.social li:nth-child(2) a::before { content: "\f099"; }
.social li:nth-child(3) a::before {
  content:"\f09e"; 
  font: 900 14px "Font Awesome 5 Free"; 
}

.social li:nth-child(4) a::before { content:"\f0e1"; }
.social li:nth-child(5) a::before { content:"\f2b3"; }
.footer-menu li { padding-right: 23px; }
.footer-menu { padding-bottom: 33px; }

.footer-menu li a {
  border-bottom: 1px solid transparent;
  color: #939393;
  font-size: 22px;
  letter-spacing: 1px;
  -webkit-transition: border-bottom .5s ease;
  -moz-transition: border-bottom .5s ease;
  -ms-transition: border-bottom .5s ease;
  -o-transition: border-bottom .5s ease;
  transition: border-bottom .5s ease;
  text-transform: capitalize;
}

.footer-menu a:hover { border-bottom: 1px solid #939393;}

footer p {
  color: #939393;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

footer p span::before {
  content: "";
  width: 2px;
  height: 14px;
  display: inline-block;
  background-color: #939393;
}

footer p::after {
  content: "";
  width: 70px;
  height: 2px;
  margin: 23px auto 37px;
  display: block;
  background-color: #939393;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1040px starts here*/
@media only screen and (max-width: 1040px) {
  .menu li { 
    padding-right: 20px;
  }
}  

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .about li { width: 46%; }
  .people-say h3,
  .about h3 ,
  .about li { text-align: center; }
  .about li:nth-child(4) { text-align: center; }
  .about li:nth-child(1) h4::after{ margin: 4px auto 10px; }
  .about li:nth-child(4) h4::after{ margin: 4px auto 10px; }
  .menu {
    width: 100%;
    height: 100vh;
    float: none;
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: #242424;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

  .display { left: 0; }

  /* hamburger styling on click */
  .hambur {
    width: 25px;
    height: 20px; 
    display: block;
    position: absolute;
    top: 25%;
    right: 5%;
  }

  .menu li {
    padding: 20px;
    display: block;
    text-align: center;
  }

  .underline:hover { border-bottom: 1px solid transparent; }
  .menu li:first-child { padding-top: 20px; }
  .menu li a:hover { color: #fff; }
  .active span:nth-child(1) { transform: rotate(40deg); }
  .active span:nth-child(3) { transform: rotate(-40deg); }
  .active span:nth-child(2) { opacity: 0; }

  /* removing hover effects */
  .menu a:hover { border-bottom: 1px solid transparent; }
  .banner a:hover::after { color: #fff; }

  .banner a:hover {
    background-color:transparent;
    color: #fff;
  }

  .about a:hover {
    background-color: #fff;
    color: #333;
  }

  .social a:hover::before {
    background-color: #242424;
    color: #888;
  }

  .footer-menu a:hover { border-bottom: 1px solid transparent; }
}

/*media query starts*/
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .about li { 
    display: block; 
    width: 100%; 
    padding: 25px 0;
    border-bottom: 1px solid #242424;
  }

  .about li:last-child { border: 0;}

}